@charset "utf-8";

/*
    Em HTML é id = Em CSS é #
*/

body{
    background-color: rgb(127, 228, 130);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkgreen;
}
h1#principal{
    color: darkred;
    text-align: center;
}

h2{
  color: darkblue
}
