/* You can add global styles to this file, and also import other style files */
/*Estereliza a pagina toda de forma global*/
*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica;
}

a{
    color: darkorange;
}