*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(3, 211, 76);
    padding: 10px;
}

body{
    background-color: rgb(39, 233, 213);
    padding: 10px;
}
h1{
 background-color: rgb(0, 255, 38);
 padding: 10px;
}

h2{
    background-color: rgb(0, 255, 38);
    padding: 5px;
}