@charset "UTF-8";

body {
    background-color: lightskyblue;
}

div{
    background-color: rgb(73, 73, 212);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 43, 213);
    color: black;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    color: red;
    text-align: left;
    display: flex;      
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
        