

body {
 background-color: rgb(110, 110, 233);
}

h1 {
    font-family: arial,sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);

}
p{
    font-family: arial,sans-serif;
    font-size: 20px;
    color: black;
}